.unit{
  margin-left: 30px;
}
.value{
  margin-left: 10px;
}

.ContentReport{
  padding-top: 5px;padding-left:20px;
}

.smartplug1  {
	background: rgb(154,36,252);
	background: linear-gradient(135deg, rgba(154,36,252,0.7) 0%, rgba(168,195,255,0.5) 100%);
  width: 270px;
  height: 180px;
  border-radius: 24px;
}

li {
  list-style: none;
}

.device_control_status {
  width: 40;
  height: 40;
  background-color: none;
  background: none;
  background-image: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.device_control_status:after {
  content: "";
  display: block;
  margin-left: -20px !important;
  opacity: 0;
  transition: all 0.8s;
  border-radius: 50%;
}

.device_control_status:active {
  background-color: #666;
  box-shadow: 0 2px #666;
  transform: translateY(0px);
  border-radius: 50%;
}
