#pic {
  background-image: url(./homeLighting2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /* height: 100px;   */
  position: relative;
  background-size: 80%;
  /* opacity: 0.5;
  filter: alpha(opacity=50); */
}

.char {
  padding-top: 7px;
}

.inbox {
  padding-left: 50px;
}

h3 {
  font-weight: normal;
}

.box {
  padding-top: 30px;
}

.login {
  margin-left: 180px;
  margin-top: -5px;
}

li {
  list-style: none;
  float: left;
}

#all {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
}

#header {
  /* background-color: #ec8000; */
  color: white;
  background: linear-gradient(135deg, rgba(154, 36, 252, 1) 0%, rgba(168, 195, 255, 1) 100%);
  height: 61px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 15px;
  /* text-decoration-color: #ffff; */
}

#left {
  background-color: #ffff;
  color: red;
  height: 80%;
  padding: 10px;
  width: 100px;
  position: absolute;
}

#content {
  background: transparent;
  position: absolute;
  width: 70%;
  margin-left: 30px;
  padding: 0px;
  color: #8633FF;
}

#right {
  background-color: #ffff;
  color: red;
  height: 80%;
  width: 30%;
  position: absolute;
  right: 0;
  margin-right: 30px;
  padding-top: 40px;
}

#footer {
  color: wheat;
  position: absolute;
  /* background-color:#808080; */
  height: 61px;
  text-align: center;
  border: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(135deg, rgba(154, 36, 252, 1) 0%, rgba(168, 195, 255, 1) 100%);
}

.social-icon {
  margin: 0px 10px;
}

.backgroundImage {
  opacity: 1;
  background-image: url('images/MSA Building.png');
  background-repeat: no-repeat;
  background-position: right;
  /* height: 100; */
}

.white-section {
  background-color: #fff;
}

.bodyContent {
  font-size: 24px;
  color: #990099;
}

/* Footer Part */

.container-fluid {
  padding-top: 5px;
}

/* The Modal (background) */

.modal {
  /* font family */
  font-family: 'Roboto', sans-serif;
  /* defaulted display */
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: 'Roboto', sans-serif;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-family: 'Roboto', sans-serif;
  padding: 2px 16px;
  background: rgb(108, 153, 255);
  background: linear-gradient(135deg, rgba(108, 153, 255, 1) 0%, rgba(213, 163, 255, 1) 100%);
  color: white;
}

.modal-body {
  font-family: 'Roboto', sans-serif;
  padding: 2px 16px;
  text-align: center;
  align-items: center;
}

.modal-footer {
  font-family: 'Roboto', sans-serif;
  padding: 2px 16px;
  background: rgb(108, 153, 255);
  background: linear-gradient(135deg, rgba(108, 153, 255, 1) 0%, rgba(213, 163, 255, 1) 100%);
  color: white;
}

.header-modal-content {
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  color: rgba(116, 122, 132, 1);
}

.modal-login-button {
  cursor: pointer;
  position: absolute;
  display: inline;
  background: rgb(108, 153, 255);
  background: linear-gradient(135deg, rgba(108, 153, 255, 1) 0%, rgba(213, 163, 255, 1) 100%);
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.modal-login-button-2 {
  cursor: pointer;
}

.username_text_input {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.password_text_input {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 16px
}

.modal-login-button:active {
  background-color: #666;
  box-shadow: 0 2px #666;
  transform: translateY(0px);
  border-radius: 50%;
}

.modal-login-button-2:active {
  background-color: #666;
  box-shadow: 0 2px #666;
  transform: translateY(0px);
  border-radius: 50%;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}