li {
    list-style: none;
}

.unit {
    margin-left: 0px;
}

.value {
    margin-left: 0px;
}

.ContentReport {
    padding-top: 5px;
    padding-left: 10px;
}

.SceneStyle {
    width: 90px;
    height: 35px;
    margin-top: 10px;
    background: transparent;
    border-width: thin;
    border-radius: 16px;
    text-align: center; 
    cursor: pointer;
    border: 1px solid gray;
    transition-duration: 0.4s;
    margin-left: 55px
}

.SceneStyle:hover {
    background-color: #FF9999;
}

.meter{
    padding-top: 50px;
}

.container {
    margin-top: 100px;
}
.chart{
    width: 550; height: 420px;
}

.box {
    padding-top:25px;
}